{{!-- Display every list with a create task btn and a delete btn that have a data-id value that corresponds to the list's id --}}
  <div class="container #ffcdd2 red lighten-4">
    <!-- Page Content goes here -->
    <div class="row">
      <!-- LIST TITLE -->
      <br>
      <div class="col s6"><h5 class="left-align">{{ title }}</h5></div>
    
      <!-- TASK LIST -->
      {{#each tasks }}
       {{> tasks/user-task}}
      {{/each }}

      <!-- DELETE LIST BUTTON -->
      {{!-- TO DO: Change data-id to be assigned by list's id --}}
      <div class="col s3"><button class="btn waves-effect #4a148c purple darken-4 remove-list" name="action" data-id="{{ id }}">
        Delete List
        <i class="material-icons right"></i>
      </button></div>
    </div>
        
    <!-- TEXT INPUT AREA -->      
    <div class="row">
      <form>      
        <div class="input-field col s9">
          <label for="text-area"></label>
          <textarea class="materialize-textarea #ffffff white" type="text" id="task-item-{{ id }}" name="newTask" ></textarea>
          <button class="btn waves-effect #4a148c purple darken-4 create-task" data-id="{{ id }}">Add Task
          </button>
        </div>
      </form>
    </div>
    </div>
      <!-- SHARE LINK -->
      <div class="container">
      <div class="col s9 ">
          <ul class="collection">
            <li class="collection-item #4a148c purple darken-4">
              <a class="white-text" href="https://project-two-ljm.herokuapp.com/students/{{ id }}" target="_blank">https://project-two-ljm.herokuapp.com/students/{{ id }}</a>
            </li>
          </ul>  
      </div>
    </div>
