{{!-- Display every list with a create task btn and a delete btn that have a data-id value that corresponds to the list's id --}}
<div class="container #ffcdd2 red lighten-4">
  <!-- Page Content goes here -->
  <div class="row">
    <!-- LIST TITLE -->
    <h3 class="left-align list-titles">{{ title }}</h3>
  </div>

  <!-- TASK LIST -->
  {{#each tasks }}
    {{> tasks/user-task}}
  {{/each }}
   
  <!-- TEXT INPUT AREA -->      
  <div class="row">
    <form>      
      <div class="input-field col s12">
        <textarea placeholder="Enter Task" class="materialize-textarea " type="text" id="task-item-{{ id }}" name="newTask" ></textarea>
        <button class="btn waves-effect bgrnd create-task" data-id="{{ id }}">Add Task
        </button>
        <!-- DELETE LIST BUTTON -->
        <button class="btn waves-effect bgrnd remove-list" name="action" data-id="{{ id }}">
        Delete List
        <i class="material-icons right"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- SHARE LINK -->
<div class="container">
  <div class="col s9 ">
      <ul class="collection">
        <li class="collection-item #4a148c bgrnd">
          <a class="white-text" href="https://project-two-ljm.herokuapp.com/students/{{ id }}" target="_blank">https://project-two-ljm.herokuapp.com/students/{{ id }}</a>
        </li>
      </ul>  
  </div>
</div>
